@* como se vincula con los campos, hay q indicar de donde viene  los campos usando el @model *@
@model BlogCore.Models.ViewModels.ArticuloMV

@{
	ViewData["Title"] = "Crear Articulo";
}

<br />
<br />
<h3 class="text-center">Crear un nuevo Articulo</h3>
<form method="POST" asp-action="Create" enctype="multipart/form-data">
	<div class="row px-2 offset-1 border">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>

		<div class="col-10 offset-1 mt-4">
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Articulo.Nombre"></label>
				</div>
				<div class="col-8">
					<input asp-for="Articulo.Nombre" class="form-control" placeholder="Ingrese el nombre" />
					<span asp-validation-for="Articulo.Nombre" class="text-danger"></span>
				</div>
			</div>
			<br />
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Articulo.Descripcion"></label>
				</div>
				<div class="col-8">
					<textarea asp-for="Articulo.Descripcion" class="form-control" style="height:300px;"></textarea>
					<span asp-validation-for="Articulo.Descripcion" class="text-danger"></span>
				</div>
			</div>
			<br />
@* 			  IMPLEMENTACION DEL DROPDOWN
 *@
			<div class="form-group row">
				<div class="col-4">
					<label for="Categoria">Categoria</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(m => m.Articulo.CategoriaId, Model.ListaCategorias, 
						"-Por favor seleccione una categoria-", new { @class="form-control"})
					<span asp-validation-for="Articulo.CategoriaId" class="text-danger"></span>
				</div>
			</div>

			<br />
			<div class="form-group row">
				<div class="col-4">
					<label asp-for="Articulo.UrlImagen"></label>
				</div>
				<div class="col-8">
					<input type="file" name="archivos" class="form-control" id="subidaArchivo" aria-label="Nombre" />
					<span asp-validation-for="Articulo.UrlImagen" class="text-danger"></span>
				</div>
			</div>
			<br />
			@* 	 Hacer vistas parciales *@
			<div class="form-group-row">
				<div class="col-8">
					<partial name="_VistaCrearVolver" />
				</div>
			</div>
		</div>

	</div>
</form>
@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"/>
	}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/7.3.0/tinymce.min.js" integrity="sha512-RUZ2d69UiTI+LdjfDCxqJh5HfjmOcouct56utQNVRjr90Ea8uHQa+gCxvxDTC9fFvIGP+t4TDDJWNTRV48tBpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'list',
			menubar: 'file edit format'
		});
	</script>
}